<div id="pagetitle">Latest Posts</div>

{{#each blogs}}
  <div class="jumbotron">
    <p class="lead">Author: {{this.User.username}}</p>
    <p>Posted on: {{formatDate this.createdAt}}</p>

    <h1 class="display-4">{{title}}</h1>
    <hr class="my-4">
    <p>{{content}}</p>

    <h3>Comments</h3>
    {{#each Comments}}
      <p>Comment by: {{this.User.username}}</p>
      
      <p>{{this.content}}</p>
    {{/each}}

    <form action="/blog/{{this.id}}/comments" method="POST">
      <label for="commentContent">Add Comment:</label>
      <textarea name="content" id="commentContent"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
{{/each}}
